import React from 'react';

class <%= component.name %> extends React.Component {
    constructor (props) {
        super(props);
    }

    render () {
        return (
            <div className={`<%= component.name %> ${this.props.className}`}>My brand new Component!</div>
        );
    }
}

<%= component.name %>.PropTypes = {
    className: React.PropTypes.string
};

export default <%= component.name %>;
