.appContainer
	width 100%
	max-width 600px
	position relative
	top 50%
	margin 0 auto

.lobby__create
	position absolute
	transform translateY(-50%);
	width 100%

	&.hidden
		transform translateX(1000px)
		display none
		opacity 0
		transition transform 0.4s, opacity 0.2s

.lobby__enter
	position absolute
	opacity 0
	visibility hidden
	transform translateY(1000px);

	&.show
		visibility visible
		display block
		opacity 1
		transform translateY(-50%);
		transition transform 0.4s, opacity 0.2s

	&.hidden
		transform translateY(50%)
		display none
		opacity 0
		transition transform 0.4s, opacity 0.2s

.lobby__detail
	position absolute
	opacity 0
	visibility hidden
	transform translateY(1000px);

	&.show
		visibility visible
		display block
		opacity 1
		transform translateY(-50%);
		transition transform 0.4s, opacity 0.2s

	&.hidden
		transform translateX(-50%)
		display none
		opacity 0
		transition transform 0.4s, opacity 0.2s
