input
	&[type="text"]
		height 35px

textarea
	height 60px
	padding-top 7px
	padding-bottom 7px
	overflow-y scroll

fieldset
	padding 15px 15px 10px
	height 60px

	.radio-option
		margin-top 5px

textarea, input, fieldset
	border 1px solid #ccc
	margin-bottom 10px

button
	padding-top 15px
	padding-bottom 15px
	margin-bottom 10px
