.lobby__header
	background-color $purple
	padding 25px 15%
	margin-bottom 15px

.lobby__logo
	width 30%
	display inline-block

.lobby__title
	width 60%
	display inline-block
	font-size 50px
	font-weight 800
	margin-left 30px
	color white
	line-height 1
	vertical-align super
	text-transform uppercase

	span
		font-weight 100
		font-size 32px

.lobby__mesas
	padding 0 !important

	> li
		box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.15)
		margin-top 15px
		color $text
		padding 15px 10px
		display block
		transition background-color 0.4s

		&:active
			background-color rgba(0, 0, 0, 0.10)

.lobby__mesa__descricao
	h1
		color $text

	p
		margin-top 20px

.lobby__users
	display flex
	padding 0
	flex-wrap wrap

	> li
		margin-right 35px
		width 140px
		margin-bottom 15px

	.name
		font-weight 600
		display inline-block
		top 11px
		float left
		position relative

	.avatar
		width 45px
		height 45px
		border-radius 50%
		float right
