.lobby__header
	background-color $purple
	padding 25px 15%
	margin-bottom 15px

.lobby__logo
	width 30%
	display inline-block

.lobby__title
	width 60%
	display inline-block
	font-size 50px
	font-weight 800
	margin-left 30px
	color white
	line-height 1
	vertical-align super
	text-transform uppercase

	span
		font-weight 100
		font-size 32px

.lobby__mesas
	padding 0 !important

	> li
		border 1px solid #aaa
		margin-top 15px
		padding 15px 10px
		display block
		transition background-color 0.4s

		&:active
			background-color rgba(0, 0, 0, 0.10)

.lobby__users
	display flex
	padding 0
	flex-wrap wrap

	> li
		margin-right 20px
		width 160px

	.name
		font-weight 600
		display inline-block
		bottom 15px
		position relative

	.avatar
		width 45px
		height 45px
		border-radius 50%
