.row
	margin-right -15px
	margin-left -15px

	&:after, &:before
		content ''
		display block
		clear both

.full
	width 100%

.half
	width 50%

.third
	width 33.3333%

.quarter
	width 25%

.three-quarters
	width 75%

.full, .half, .third, .quarter, .three-quarters
	float left
	padding-right 15px
	padding-left 15px

.half--offset
	margin-left 50%

.third--offset
	margin-left 33.3333%

.quarter--offset
	margin-left 25%

.octave--offset
	margin-left 12.5%

.p-r-half
	padding-right 7.5px

.p-l-half
	padding-left 7.5px

.m-t-20
	margin-top 20px

.show
	visibility visible
	opacity 1
	transition opacity 0.4s
